<div class="row">
    <div class='col-sm-12 panel panel-primary'>
        <div class='panel-heading'>
            {{pageTitle}}
        </div>

        <div class='panel-body'>
            <div class='table-responsive'>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let session of usageLog'>
                            <td>{{session | date: 'm'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>