li {
    font-size: large;
}

/*div.panel-primary {
   width:30%;
}*/

div.panel-heading {
    font-size: x-large;
    margin-left:15px;
    margin-right:15px;
}

#divButton button {
    margin-top:200px;
}

/*.container {
    padding-left:15px;
    padding-right:15p;
}*/
