<div class="row">
    <!-- Navigation with router directives-->
    <nav class='col-sm-12 navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/usage']">Usage Report</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <!-- Router Outlet -->
    <div class='col-sm-12 container'>
        <router-outlet></router-outlet>
    </div>
</div>